/* Page Layout */
#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 20%; bottom: 20%;
		width: 15px;
		}
		#left { left: 20%; }
		#right { right: 20%; }

	#top, #bottom {
		left: 20%; right: 20%;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
